div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #F5F2EB;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 139px;
   line-height: 172px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #000000;
   font-family: Calibri;
   font-weight: normal;
   font-size: 48px;
   line-height: 58.5px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#Shape1_text
{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.24%;
   top: 9.26%;
   width: 94.62%;
   height: 77.78%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape2_text
{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.24%;
   top: 9.26%;
   width: 94.62%;
   height: 77.78%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape3_text
{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.24%;
   top: 9.26%;
   width: 94.62%;
   height: 77.78%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape4_text
{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 2.24%;
   top: 9.26%;
   width: 94.62%;
   height: 77.78%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   color: #000000;
   font-family: 微软雅黑;
   font-weight: normal;
   font-size: 75px;
   line-height: 96px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
